<style>
  .bmicalc {
    padding: 25px;
  }

  .bmicalc * {
    margin-top: 10px;
  }

  .bmicalc .measures1 {
    margin-top: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
  }

  .bmimeasurecontainer input[type="text"] {
    margin-left: 10px;
  }

  .bmimeasurecontainer select {
    margin-left: 10px;
  }
</style>

<navbar [pageTitle]="pageTitle">
</navbar>
<ion-content style="height: calc(100% - 160px);">

  <div class="bmicalc msform row" id="">

    <!--<input type="text" name="email" placeholder="Your name" />-->
    <!--<ion-select  type="text"  class="col-sm-12 col-xs-12 measures1" style="padding: 10px">
  <ion-option *ngFor="let user of Users">{{user.Name}}</ion-option>
</ion-select>-->

    <ion-item class="col-sm-12 col-xs-12 ">
      <ion-label>Age</ion-label>
      <ion-select [(ngModel)]="age" placeholder="Age">
        <ion-option *ngFor="let age of 100 | printnumbers:{start:18}">{{age}}</ion-option>
      </ion-select>
    </ion-item>

    <!-- <ion-select type="text"  class="col-sm-12 col-xs-12 measures1" style="padding: 10px" [(ngModel)]="age">
      <ion-option value="0" selected disabled>Age</ion-option>
      <ion-option *ngFor="let age of 100 | printnumbers:{start:18}">{{age}}</ion-option>
    </ion-select> -->
    <div style="text-align:left;" class="col-md-4 col-xs-12 col-sm-4">
      <input type="radio" class="terms" style="margin-left: 10px;" name="gender" value="male" [(ngModel)]="gender" />Male
      <input type="radio" class="terms" style="margin-left: 10px;" name="gender" value="female" [(ngModel)]="gender" />Female
      <br>
    </div>
    <!--<input type="text" name="cpass" placeholder="Occupation" />-->

    <!--<ion-select type="text" class="col-sm-12 col-xs-12" style="padding: 10px">
      <ion-option selected disabled>Physio logical status</ion-option>
      <ion-option *ngFor="let status of physioLogicalStatus[gender]">{{status}}</ion-option>
    </ion-select>-->
    <!-- <div class="  bmimeasurecontainer col-sm-12 col-xs-12">
      <input type="number" style="width:35%;" placeholder="Height (cms)" [(ngModel)]="heightincm" [ngModelOptions]="{standalone: true}"
        (keyup)="convertUnits('cmeter',heightincm)" (change)="heightinft=(heightincm/30.48)" />
      <p style="display: inline;"> or</p>
      <ion-select type="text" style="width:24%; margin-left:0px !important" name="pass" [(ngModel)]="heightFeet" (change)="convertUnits('feet',heightFeet)">
        <ion-option value="" selected disabled>Feet</ion-option>
        <ion-option [value]="num" *ngFor="let num of 11 | printnumbers:{start:0}">{{num}}</ion-option>
      </ion-select>
      <ion-select type="text" name="pass" style="width:27%;margin-left:0px !important" [(ngModel)]="heightInch" (change)="convertUnits('inch',heightInch)">
        <ion-option value="" selected disabled>Inches</ion-option>
        <ion-option [value]="num" *ngFor="let num of 12 | printnumbers:{start:0}">{{num}}</ion-option>
      </ion-select>
      
    </div> -->


    <ion-item class="col-md-4 col-xs-12 col-sm-4">
      <ion-input style="margin:0;" type="text" [(ngModel)]="heightincm" placeholder="Height (cms)" [ngModelOptions]="{standalone: true}"
        (keyup)="convertUnits('cmeter',heightincm)" (change)="heightinft=(heightincm/30.48)"></ion-input>
    </ion-item>

    <div style="margin:0;" class="col-md-2 col-xs-12 col-sm-2 text-center">
      <p style="margin:0;">or</p>
    </div>
    <div class="col-md-3 col-xs-6 col-sm-4 mtop0" style="padding:0;">
      <ion-item>
        <ion-select placeholder="Feet" [(ngModel)]="heightFeet" (ngModelChange)="convertUnits('feet',heightFeet)">
          <!-- <ion-option value="" selected disabled>Feet</ion-option> -->
          <ion-option [value]="num" *ngFor="let num of 100 | printnumbers:{start:0}">{{num}}</ion-option>
        </ion-select>
      </ion-item>
    </div>
    <div class="col-md-3 col-xs-6 col-sm-4 mtop0" style="padding:0;">
      <ion-item>
        <ion-select placeholder="Inches" [(ngModel)]="heightInch" (ngModelChange)="convertUnits('inch',heightInch)">
          <!-- <ion-option value="" selected disabled>Inches</ion-option> -->
          <ion-option [value]="num" *ngFor="let num of 100 | printnumbers:{start:0}">{{num}}</ion-option>
        </ion-select>
      </ion-item>
    </div>

    <!-- <ion-input class="col-md-4 col-xs-12" type="text" [(ngModel)]="heightincm" placeholder="Height (cms)" [ngModelOptions]="{standalone: true}"
      (keyup)="convertUnits('cmeter',heightincm)" (change)="heightinft=(heightincm/30.48)"></ion-input>
    <ion-label class="col-md-2 col-xs-12 col-xs-12">or</ion-label>
    <ion-select class="col-md-3 col-xs-6 col-sm-3" [(ngModel)]="heightFeet">
      <ion-option value="" selected disabled>Feet</ion-option>
      <ion-option [value]="num" *ngFor="let num of 100 | printnumbers:{start:0}">{{num}}</ion-option>
    </ion-select>
    <ion-select class="col-md-3 col-xs-6 col-sm-3" [(ngModel)]="heightInch">
      <ion-option value="" selected disabled>Inches</ion-option>
      <ion-option [value]="num" *ngFor="let num of 100 | printnumbers:{start:0}">{{num}}</ion-option>
    </ion-select> -->


    <ion-item style="margin-bottom:15px;">
      <!--<input type="text" class="hicm measure2" name="cpass" placeholder="Height Feets & Inches" />-->
      <ion-input style="margin:0;" type="number" class="hicm " name="cpass" placeholder="Weight (Kg)" [(ngModel)]="weightinkg"></ion-input>
    </ion-item>
    <button type="button" style="margin:auto;" name="next" class="submit_button" (click)="submitCalc()">Submit</button>

  </div>
  <div class="col-md-12">
    <p class="col-md-12">
      <strong> BMI:</strong> Body Mass Index (BMI) = Weight in kilogram divided by the square of the height in meters. It is used
      to assess the nutritional status of an Individual.
    </p>
    <p class="col-md-12">
      <strong>BMR:</strong> Basal Metabolic Rate (BMR) is the number of calories required to keep your body functioning at rest.
    </p>
  </div>

</ion-content>