<div style="background: url(assets/images/rawfood-bg-2.png) no-repeat;     background-size: 100% 100%; height: 100%;">
    <navbar [pageTitle]="pageTitle" [color]="color"></navbar>
    <ion-grid style="height: 100%;margin-top: 100px;" class="home-list">
        <ion-row>
            <ion-col text-center (click)="navigate('rawfood')">
                <i class="fa fa-edit"></i>
                <span>Raw Food</span>
            </ion-col>
            <ion-col text-center (click)="navigate('recipe')">
                <i class="fa fa-edit"></i>
                <span> Recipe</span>
            </ion-col>
        </ion-row>
        <ion-row justify-content-center >
            <img height="100" src="assets/images/note_2.png" alt="">
        </ion-row>
    </ion-grid>

</div>