<navbar [pageTitle]="pageTitle"></navbar>
<style>
    .register_input {
        padding: 5px !important;
        width: 100px !important;
        background-color: orangered;
        -webkit-appearance: input;
        color: white !important;
    }

    #msform {
        margin: 450px 10px !important;
        width: 95%;
    }

    .infoinput {
        background-color: #ECEBE9;
        margin: 10px;
        height: 35px;
        font-size: 12px;
        font-weight: bold;
        padding: 0 10px;
        width: 100%;
        border: 0;
    }

    .poweredby {
        position: absolute;
        bottom: 50px;
        color: #0a007d;
        margin: auto;
        text-align: center;
        right: 2px;
    }

    .poweredby p {
        margin: 0px;
        color: black;
    }

    .cname {
        font-weight: bold;
    }
</style>
<!-- multistep form -->
<!--<form>

    <input type="text" name="email" placeholder="Choose You info" list="infolist" />
    <datalist id="infolist">
        <option value="Registration Details of the user">
            <option value="user guide">
                <option value="contact us">
                    <option value="settings">
                        <option value="website for the app">
                            <option value="about the app">
                                <option value="version">
    </datalist>
    

</form>-->
<ion-grid>
    <ion-row justify-content-center>
        <input type="button" class="infoinput" (click)="otherInfo('details')" value="Registration Details of User">
    </ion-row>
    <ion-row justify-content-center>
        <input type="button" class="infoinput" (click)="otherInfo('subuser')" value="Register Sub User">
    </ion-row>
    <ion-row justify-content-center>
        <input type="button" class="infoinput" (click)="otherInfo('userguide')" value="User guide">
    </ion-row>
    <ion-row justify-content-center>
        <input type="button" class="infoinput" (click)="otherInfo('contactus')" value="Contact Us">
    </ion-row>
    <ion-row justify-content-center>
        <input type="button" class="infoinput" (click)="otherInfo('source')" value="Source">
    </ion-row>
    <ion-row justify-content-center>
        <input type="button" class="infoinput" (click)="otherInfo('about')" value="About App">
    </ion-row>
    <ion-row>
        <input type="button" class="infoinput" (click)="otherInfo('version')" value="Version">
    </ion-row>
    <ion-row>
        <input type="button" class="infoinput" (click)="otherInfo('terms')" value="Terms & Conditions">
    </ion-row>
</ion-grid>
<div class="poweredby">
    <p>Powered by</p>
    <a href="http://www.macronel.com">
        <img src="assets/images/mac-logo.png" alt="Macronel" width="100">
    </a>
</div>
<!-- v class="row" style="margin:auto; padding:20px;">
        <div class="col-md-12" style="margin:auto;">

            <div class="col-md-12">
            </div>
            <div class="col-md-12">
            </div>
            <div class="col-md-12">
            </div>
            <div class="col-md-12">
            </div>
            <div class="col-md-12">
            </div>
            <div class="col-md-12">
            </div>
            <div class="col-md-12">
            </div>
        </div>
    </div>

    <div class="poweredby ">
        Powered by
        <a href="http://www.macronel.com">
            <img src="assets/images/mac-logo.png" alt="Macronel" width="100" height="30">
        </a>
    </div>

</div> -->