<navbar [pageTitle]="pageTitle"></navbar>
<ion-content>
    <ion-row  style="padding: 5px 25px 5px 25px;margin-bottom: 100px;">
        <strong>Guide:</strong>
        <ul style="padding: 5px 25px 5px 25px;margin-bottom: 100px;">
            <li>After first registration, remember your mobile number and pin for future use</li>
            <li>Most of the sections are self-explanatory</li>
            <li>To know the details of your food consumption details, go to my diet and activity section and go to Food consumption
                sub section and enter the date and type of meal and enter the foods and their quantities and press submit.
                All the information can be checked in the balance sheet sub section of My Diet and Activity</li>
            <li>Similarly, you can go to Energy expenditure sub section and enter the time in hours and minutes and choose physical
                activities and press submit and find the information in the balance sheet sub section. </li>
            <li>You can enter the activities throughout the day one at a time or all at a time</li>
            <li>My diet and activity section requires internet connection and will not work offline</li>
            <li>You can also create another user and track their consumption and expenditure. To do so you need to go to Register
                sub user sub section in the Info section</li>
            <li>To exit the app for the session, go to the side menu and tap exit</li>
        </ul>
    </ion-row>

</ion-content>