<navbar [pageTitle]="pageTitle" [showSubMenu]="false" [isDisplayFooter]="false">
</navbar>
<ion-content style="height: calc(100% - 100px);">
  <ion-grid class="home-list">
    <ion-row justify-content-center>
      <img src="assets/icon/NIN_100_LOGO_FINAL.png" height="100">
    </ion-row>
    <ion-row>
      <ion-col text-center (click)="onNavigate('req')">
        <i class="fa fa-edit"></i>
        <span> My Nutrient Requirements</span>
      </ion-col>
      <ion-col text-center (click)="onNavigate('nutrientinfood')">
        <i class="fa fa-edit"></i>
        <span> Nutrients in My food</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center (click)="onNavigate('mydietnactivity')">
        <i class="fa fa-edit"></i>
        <span> My Diet and Activity</span>
      </ion-col>
      <ion-col text-center (click)="onNavigate('searchfoodbynutrient')">
        <i class="fa fa-edit"></i>
        <span> Search Foods by Nutrients</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center (click)="onNavigate('searchfoodbylanguage')">
        <i class="fa fa-edit"></i>
        <span> Search Foods by Language</span>
      </ion-col>
      <ion-col text-center (click)="onNavigate('otherinfo')">
        <i class="fa fa-edit"></i>
        <span> Info</span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>